<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Registrar Avistamientos</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <p> 
            <a href="{{ url_for('index') }}">Volver</a>
        </p>

        <h1>Registrar Avistamientos</h1>
        <form id = "form-avistamiento" method="POST" action="{{ url_for('registrar_avistamiento') }}" enctype="multipart/form-data">
            <p>
                <label for="voluntario">Voluntario:</label><br>
                <select id="voluntario" name="voluntario" required>
                    <option value="">Seleccione un voluntario</option>
                    {% for v in voluntarios %}
                        <option value="{{ v.id }}">{{ v.nombre }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="ave">Ave:</label><br>
                <select id="ave" name="ave" required>
                    <option value="">Seleccione un ave</option>
                    {% for a in aves %}
                        <option value="{{ a.id }}">{{ a.nombre }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="lugar">Lugar del avistamiento:</label><br>
                <input type="text" id="lugar" name="lugar" required>
                <span class="error" id="error-lugar">Debe ingresar un lugar (mínimo 3 caracteres).</span>
            </p>
            <p>
                <label for="fecha">Fecha de avistamiento:</label><br>
                <input type="date" id="fecha" name="fecha" required>
                <span class="error" id="error-fecha">Debe ingresar una fecha válida.</span>
            </p>
            <p>
                <label for="hora">Hora del avistamiento:</label><br>
                <input type="time" id="hora" name="hora" required>
                <span class="error" id="error-hora">Debe ingresar una hora válida.</span>
            </p>
            <p>
                <label for="foto-video">Adjuntar foto o video:</label><br>
                <input type="file" id="foto-video" name="foto-video" accept="image/*,video/*" multiple required>
                <span class="error" id="error-foto-video">Debe adjuntar una foto o video.</span>
            </p>


            <button type="submit" class="boton">Registrar Avistamiento</button>
        </form>
        <script src="{{ url_for('static', filename='js/avistamiento.js') }}"></script>
    </body>
</html>