<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle Avistamiento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <p><a href="{{ url_for('consultar_avistamientos') }}">Volver</a></p>

    <h1>Detalle Avistamiento #{{ avistamiento.id }}</h1>
    <p><strong>Ave:</strong> {{ avistamiento.ave.nombre }}</p>
    <p><strong>Voluntario:</strong> {{ avistamiento.voluntario.nombre }}</p>
    <p><strong>Lugar:</strong> {{ avistamiento.lugar }}</p>
    <p><strong>Fecha y Hora:</strong> {{ avistamiento.fecha_hora.strftime('%d/%m/%Y a las %H:%M') }}</p>
    <p><strong>Descripción:</strong> {{ avistamiento.descripcion or 'Sin descripción disponible.' }}</p>

    <h2>Archivos:</h2>
   <div class="galeria-archivos">
        {% for reg in avistamiento.registros %}
            {% if reg.ruta_archivo.endswith('.mp4') or reg.ruta_archivo.endswith('.mov') %}
                <video controls src="{{ url_for('static', filename=reg.ruta_archivo) }}"></video>
            {% else %}
                <img src="{{ url_for('static', filename=reg.ruta_archivo) }}" alt="Foto avistamiento">
            {% endif %}
        {% else %}
            <p>No hay archivos adjuntos.</p>
        {% endfor %}
    </div>
</body>
</html>